<!DOCTYPE html>
<html>
<head>
  <title>Simpleportfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>GRINGO.IO</h1>
  <h6>aka Miles Starkenburg</h6>
  <nav>
    <ul>
      <li>Blog</li>
      <li>About & Projects</li>
      <li>Contact Me</li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
